body {
  font-family: "Quicksand", sans-serif;
  background: #4f4f4f;
}

.title {
  position: relative;
  font-size: 5.5vw;
  color: #d6d6d6;
}

#class, #nextclass, #time {
  top: 20vh;
  color: #d6d6d6;
}

.icon {
  filter: invert(100%);
}

.settings-panel {
  /* position */
  position: relative;
  top: 20vh;

  /* style */
  border-style: solid;
  border-radius: 1.5vw;
  border: 2px;
  width: 40vw;
  height: 50vh;
  box-shadow: 0 0 30px #d6d6d6;

  /* color */
  border-color: #d6d6d6;
  background: #d6d6d6;
}

.selection .option {
  background-color: #ababab;
}
