body {
  font-family: "Quicksand", sans-serif;
  background: #52ff7d;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; 
  background: transparent;
}

.settings-header {
  position: absolute;
  top: 2%;
  left: 5%;
  
  font-size: 5vh;
  color: #FFFFFF
}

.title {
  position: relative;
  font-size: 5.5vw;
  color: #ffffff;
}

#class, #nextclass, #time {
  top: 20vh;
  color: #ffffff;
}

.icon {
  filter: invert(100%);
}

.settings-panel {
  /* position */
  position: relative;
  top: 20vh;

  /* style */
  border-style: solid;
  border-radius: 1.5vw;
  border: 2px;
  width: 40vw;
  height: 50vh;
  box-shadow: 0 0 40px #95feb1;

  /* color */
  border-color: #95feb1;
  background: #95feb1;
}

.button {
  /* position */
  position: absolute;
  left: 2%;

  /* style */
  border: 2px;
  border-style: solid;
  border-radius: 1.5vw;
  width: 15%;
  height: 10%;
  margin: 10px;
  box-sizing: border-box;

  /* color */
  border-color: #66ff8f;
  background: #66ff8f;
  font-size: 1vw;
  font-family: "Quicksand", sans-serif;
}

.form-input {
  /* position */
  position: absolute;
  left: 2%;

  /* style */
  border: 2px;
  border-style: solid;
  border-radius: 1.5vw;
  width: 50%;
  height: 10%;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;

  /* color */
  border-color: #ccffda;
  background: #ccffda;
  font-size: 1vw;
  font-family: "Quicksand", sans-serif;
}

.set-theme {
  /* position */
  position: absolute;
  left: 2%;
  top: 54%;

  /* style */
  border: 2px;
  border-style: solid;
  border-radius: 1.5vw;
  width: 30%;
  height: 10%;
  margin: 10px;
  padding: 1px;
  box-sizing: border-box;

  /* color */
  border-color: #ccffda;
  background: #ccffda;
  font-size: 1vw;
  font-family: "Quicksand", sans-serif;
}

.dropdown-save {  
  /* style */
  border: 2px;
  border-style: solid;
  border-radius: 1.5vw;
  width: 4vw;
  height: 4vh;
  padding: 3px;

  /* color */
  border-color: #ccffda;
  background: #ccffda;
  font-size: 1vw;
  font-family: "Quicksand", sans-serif;
}

.assignment-container {
  /* position */
  position: relative;
  
  /* style */
  border-style: solid;
  border-radius: 2vh;
  border: 2px;
  width: 30vw;
  height: 8vh;
  margin: 1vh;
  padding: 5px;
  box-sizing: border-box;
  
  /* color */
  border-color: #ccffda;
  background: #ccffda;
}


.selection .option {
  background-color: #52ff7d;
}
