<!doctype html>
<html>
  <head>
  <title>404</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
  <link rel="stylesheet" href="/static/main.css">
  {% if request.cookies.get("theme") %}
  <link rel="stylesheet" href="/static/{{ request.cookies.get("theme") }}.css">
  {% else %}
  <link rel="stylesheet" href="/static/light.css">
  {% endif %}
  </head>
  <body>
    <h1 style="text-align:center">Page Not Found</h1>
    <h3 style="text-align:center">(you're probably lost)</h3>
  </body>
</html>
