<!doctype html>
<html>
  <head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" type="image/ico" href="/static/favicon.ico">
    
  {% if request.cookies.get("theme") %}
  <link rel="stylesheet" href="/static/{{ request.cookies.get("theme") }}.css">
  {% else %}
  <link rel="stylesheet" href="/static/light.css">
  {% endif %}
    
  </head>
  <body>
    <div class="settings-icon icon">
      <a href="/settings">
        <img alt="settings" src="http://www.citypng.com/public/uploads/small/11640258176xjibcplpdshoqjhxla4knho5tggbe18cmysagbxta7s2mwaoezjiqruk4cewbkhnkymyr4eoae1uzl0brwwicmmzsadt4ksayexo.png" width="25" height="25">
      </a>
    </div>
    
    <div id="class" class="title" style="text-align:center"> {{ data[0] }} </div>
    <div id="time" class="title" style="text-align:center"> {{ data[1] }}:{{ data[2] }}:{{ data[3] }} </div>
    <div id="nextclass" class="title" style="text-align:center"> {{ data[4] }} </div>

    <div class="github-icon icon">
      <a href="https://github.com/wa1ker38552/Schedule-Tracker" target="_blank">
        <img alt="github" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" width="23" height="23">
      </a>
    </div>
  
  </body>
  <script type="text/javascript">
    var element_1 = document.getElementById("class");
    var element_2 = document.getElementById("time");
    var element_3 = document.getElementById("nextclass");

    async function updater() {
      const metadata = await fetch('/metadata')
      const data = await metadata.json()

      document.title = data[1]+" | "+data[0]
      element_1.innerHTML = data[0]
      element_2.innerHTML = data[1]
      element_3.innerHTML = data[2]
    }
    
    window.onload = setInterval(updater, 1000); 
  </script>
</html>
